@font-face {
  font-family: "Chakra Petch";
  src: url("./ChakraPetch-Regular.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

:root {
  --brunswick-green: #344e41;
  --hunter-green: #3a5a40;
  --fern-green: #588157;
  --sage: #a3b18a;
  --timberwolf: #dad7cd;

  --red: #ef233c;
  --amber: #ffbe0b;
  --green: #6a994e;

  --header-footer-border: 8px solid var(--brunswick-green);

  --card-padding: 24px;
  --half-card-padding: 12px;

  font-family: "Chakra Petch";
}

body {
  display: grid;
  grid-template: [start] 0.25fr 3fr 0.5fr [end] / [start] 1fr 4fr [end];
  height: 100vh;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  grid-area: start / start / start / end;
  background-color: var(--sage);
  border-bottom: var(--header-footer-border);
}

.sidebar img {
  max-width: max-content;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  grid-area: 2 / 1 / end / 2;
  background-color: var(--sage);
}

.sidebar-header {
  border-bottom: 2px solid var(--brunswick-green);
}

.side-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.project-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  width: 100%;
  padding: 5px 10px;
  border-radius: 6px;
}

.project-footer {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.project-btn {
  border: 2px solid var(--brunswick-green);
  background-color: var(--timberwolf);
  font-size: 0.8rem;
  border-radius: 4px;
  padding: 2px 4px;
  cursor: pointer;
}

.project-btn:hover,
.project-card:hover {
  background-color: var(--fern-green);
}

button {
  font-family: "Chakra Petch";
  border: none;
  cursor: pointer;
}

.task-filter-btn {
  background-color: var(--sage);
  margin-top: 4px;
}

.submit-task-modal-btn,
.close-modal {
  padding: 4px;
}

.task-filter-btn:hover,
.submit-task-modal-btn:hover,
.close-modal:hover {
  background-color: var(--fern-green);
}

.add-project-btn,
.add-task-btn,
.submit-task-modal-btn,
.close-modal {
  border-radius: 4px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.add-project-btn {
  background-color: var(--timberwolf);
}

.add-task-btn {
  background-color: white;
}

.add-project-btn:hover,
.add-task-btn:hover {
  background-color: var(--hunter-green);
}

.content {
  grid-area: 2 / 2 / end / 2;
  background-color: var(--timberwolf);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2vh;
}

.card-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: flex-start;
}

.content-header {
  margin-top: 2vh;
  font-size: 2rem;
}

.task-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 2vh;
  width: 80%;
  padding: 20px 30px;
  margin-top: 2vh;
  border: 2px solid;
  border-left: 16px solid;
  border-radius: 4px;
  gap: 10px;
}

.task-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.task-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1vw;
}

.strike-through {
  text-decoration-line: line-through;
}

.task-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}

.task-footer > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.img-write,
.img-trash {
  cursor: pointer;
}

.task-date {
  border: 2px solid black;
  border-radius: 4px;
  padding: 2px 4px;
}

.high {
  border-color: var(--red);
}

.medium {
  border-color: var(--amber);
}

.low {
  border-color: var(--green);
}

.task-title {
  font-weight: bold;
}

.task-description {
  font-style: italic;
}

img {
  height: 1rem;
}

/* task modal styling */

.task-input {
  background-color: #ffffff;
  border: 1px solid #d6d9dc;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

.task-input[type="text"]:invalid {
  border: 1px solid #d55c5f;
  box-shadow: none;
}

.task-input:focus,
.task-input:invalid:focus {
  outline: none;
  border: 1px solid #4f89d4;
}

.task-input[type="text"]:valid {
  border: 1px solid green;
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--half-card-padding);
  border: none;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-item {
  display: flex;
  text-wrap: nowrap;
  align-items: center;
  align-self: flex-end;
  justify-content: flex-start;
  gap: var(--half-card-padding);
}

.task-modal {
  min-width: 25vw;
  height: fit-content;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
  padding: 20px;
}

legend {
  text-align: center;
  padding: 16px;
}

/* footer styling */

footer {
  display: flex;
  border-top: var(--header-footer-border);
  height: 6vh;
  align-items: center;
  justify-content: center;
  justify-items: center;
  grid-area: end / start / end / end;
  background-color: var(--timberwolf);
  padding: 5px;
}

.github-logo {
  font-size: 3rem;
  margin-left: 1rem;
  transition: transform 1s;
}

a {
  color: inherit;
}

.github-logo:hover {
  transform: rotate(1turn);
}
